extends layout

block content
  h1 #{bookinstance.book.title}: #{bookinstance.id}
    
  p Do you really want to delete this Book instance?

  form(method="POST" action='')
    div.form-group
      p Title: #{bookinstance.book.title}
      p Due Back: #{bookinstance.due_back}
      p Status: #{bookinstance.status}
      input#bookintanceid.form-control(type='hidden', name='bookinstanceid', required='true', value=bookinstance)

    button.btn.btn-primary(type='submit') Delete